@media screen{
	#table {
		left: 0%;
		width: 80%;
		position: absolute;
		background-image:url(img/table.png);	
		background-size:100%;
		min-height:772px;
	}
	html {
		height:auto;
		width:auto;
		background-color:#000000;
	}
	#topScore{
		border: solid 2px ;
		border-color:#FFFFFF;
		border-left:none;
		width: 18%;
		position: absolute;
		left: 80%;
		color:#12AF07;
		border-color:#FFFFFF;
		min-height:772px;
	}
}
